.placeholder {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
}
.admin,
.mayraZ {
  position: relative;
}
.mayraZ {
  font-weight: 600;
}
.admin {
  color: var(--color-gray-3);
}
.name {
  position: absolute;
  top: 7px;
  left: 242px;
  width: 64px;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.contraseaIcon,
.disponibilidadIcon,
.inboxIcon {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 44.36%;
  bottom: 0;
  left: 40.26%;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disponibilidadIcon,
.inboxIcon {
  right: 64.87%;
  left: 19.74%;
}
.inboxIcon {
  right: 84.62%;
  left: 0;
}
.sideMenu {
  position: absolute;
  top: 58px;
  left: 1418px;
  width: 390px;
  height: 60px;
}
.frameChild,
.i {
  position: relative;
}
.i {
  width: 13px;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.frameChild {
  width: 48px;
  border-radius: var(--br-base);
  background-color: var(--color-orange);
  height: 48px;
  margin-top: -41px;
}
.iParent {
  width: 48px;
  height: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.interschool {
  position: relative;
  font-size: var(--font-size-9xl);
}
.footer {
  position: absolute;
  top: 1085px;
  left: 60px;
  width: 236px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.homeIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  filter: var(--shadow);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.vectorIcon {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 49.58%;
  width: 87.78%;
  top: 11.68%;
  right: 0;
  bottom: 38.75%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--color-gray-2);
}
.e,
.escuelaBenitoJuarez {
  width: 20px;
  position: relative;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.escuelaBenitoJuarez {
  width: 227px;
  font-size: var(--font-size-xl);
  height: 33px;
}
.logo,
.sidebar {
  position: absolute;
}
.logo {
  top: 47px;
  left: 30px;
  width: 291px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.sidebar {
  height: 100%;
  width: 19.91%;
  top: 0;
  right: 80.09%;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
  font-size: var(--heading-heading-1-size);
  color: var(--color-white1);
}
.background,
.component1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1808px;
  height: 1182px;
}
.background {
  top: 156px;
  left: 428px;
  border-radius: var(--br-6xl);
  background-color: var(--color-thistle-100);
  width: 1418px;
  height: 992px;
  display: none;
}
.capturaDePantalla20240131 {
  width: 1370px;
  position: relative;
  height: 759.7px;
  object-fit: cover;
  display: none;
}
.materia {
  position: absolute;
  top: 296px;
  left: 425px;
  border-radius: var(--br-3xs);
  width: 1376px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 31.46666717529297px 0;
  box-sizing: border-box;
  background-image: url(/public/materia@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.avisoDePrivacidad1 {
  width: 697px;
  position: relative;
  display: inline-block;
}
.header,
.title {
  width: 1373px;
  display: flex;
  flex-direction: column;
}
.title {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-purple);
  height: 60px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
}
.header {
  position: absolute;
  top: 154px;
  left: 428px;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
  height: 108px;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--heading-heading-3-size);
  color: var(--color-white1);
}
.avisoDePrivacidad {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-text);
  font-family: var(--heading-heading-3);
}
