.especialidades-taller-child,
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 587px;
  height: 705px;
}
.group-child {
  width: 542px;
  height: 55px;
}
.div {
  position: absolute;
  top: 16px;
  left: 16px;
}
.btbusi,
.taller-business-math {
  position: absolute;
  top: 16px;
  left: 80px;
}
.taller-business-math {
  left: 201px;
}
.group-div,
.rectangle-container,
.rectangle-group,
.rectangle-parent {
  position: absolute;
  top: 505px;
  left: 11px;
  width: 556px;
  height: 55px;
}
.group-div,
.rectangle-container,
.rectangle-group {
  top: 434px;
}
.group-div,
.rectangle-container {
  top: 363px;
}
.group-div {
  top: 292px;
}
.rectangle-parent1,
.rectangle-parent2,
.rectangle-parent3 {
  position: absolute;
  top: 221px;
  left: 11px;
  width: 556px;
  height: 55px;
}
.rectangle-parent2,
.rectangle-parent3 {
  top: 150px;
}
.rectangle-parent3 {
  top: 79px;
}
.group-parent,
.rectangle-parent4,
.rectangle-parent5 {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 556px;
  height: 55px;
}
.group-parent,
.rectangle-parent5 {
  top: 571px;
}
.group-parent {
  top: 21px;
  left: 0;
  height: 582.8px;
  overflow-y: auto;
  font-size: var(--font-size-mini);
  color: var(--color-gray-200);
  font-family: var(--heading-heading-3);
}
.ciclo,
.descripcin,
.especialidad {
  position: absolute;
  top: 0;
  left: 25px;
  display: inline-block;
  width: 38px;
  height: 19px;
}
.descripcin,
.especialidad {
  left: 91px;
  width: 96px;
}
.descripcin {
  left: 213px;
  width: 90px;
}
.frame-data {
  position: absolute;
  top: 78.1px;
  left: 9px;
  width: 556px;
  height: 603.9px;
}
.especialidades-taller1 {
  position: absolute;
  top: 19px;
  left: 25px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--heading-heading-3);
  color: var(--color-text);
  display: inline-block;
  width: 287px;
  height: 38.1px;
}
.especialidades-taller {
  width: 100%;
  position: relative;
  height: 705px;
  display: none;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
