.placeholder {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
}
.admin,
.mayraZ {
  position: relative;
}
.mayraZ {
  font-weight: 600;
}
.admin {
  color: var(--color-gray-3);
}
.name {
  position: absolute;
  top: 7px;
  left: 242px;
  width: 64px;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.contraseaIcon,
.disponibilidadIcon,
.inboxIcon {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 44.36%;
  bottom: 0;
  left: 40.26%;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disponibilidadIcon,
.inboxIcon {
  right: 64.87%;
  left: 19.74%;
}
.inboxIcon {
  right: 84.62%;
  left: 0;
}
.sideMenu {
  position: absolute;
  top: 58px;
  left: 1418px;
  width: 390px;
  height: 60px;
}
.frameChild,
.i {
  position: relative;
}
.i {
  width: 13px;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.frameChild {
  width: 48px;
  border-radius: var(--br-base);
  background-color: var(--color-orange);
  height: 48px;
  margin-top: -41px;
}
.iParent {
  width: 48px;
  height: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.interschool {
  position: relative;
  font-size: var(--font-size-9xl);
}
.footer {
  position: absolute;
  top: 1085px;
  left: 60px;
  width: 236px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.homeIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  filter: var(--shadow);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.vectorIcon {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 49.58%;
  width: 87.78%;
  top: 11.68%;
  right: 0;
  bottom: 38.75%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--color-gray-2);
}
.e,
.escuelaBenitoJuarez {
  width: 20px;
  position: relative;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.escuelaBenitoJuarez {
  width: 227px;
  font-size: var(--font-size-xl);
  height: 33px;
}
.logo {
  position: absolute;
  top: 47px;
  left: 30px;
  width: 291px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.component1,
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar {
  height: 100%;
  width: 19.91%;
  right: 80.09%;
  bottom: 0;
  background-color: var(--color-purple);
  font-size: var(--heading-heading-1-size);
  color: var(--color-white1);
}
.component1 {
  width: 1808px;
  height: 1182px;
}
.fechaPago,
.idCiclo {
  color: var(--color-gray-300);
}
.idCiclo {
  position: absolute;
  top: 0.7px;
  left: 0;
  font-weight: 600;
  font-family: var(--heading-heading-3);
  display: inline-block;
  width: 54px;
  height: 15px;
}
.fechaPago {
  left: 88px;
  width: 83px;
}
.cant,
.concepto,
.descripcin,
.fechaPago,
.mesCargo {
  position: absolute;
  top: 0.7px;
  font-weight: 600;
  font-family: var(--heading-heading-3);
  display: inline-block;
  height: 15px;
}
.mesCargo {
  left: 205px;
  color: var(--color-gray-300);
  width: 77px;
}
.cant,
.concepto,
.descripcin {
  left: 316px;
  width: 70px;
}
.cant,
.descripcin {
  left: 420px;
  width: 85px;
}
.cant {
  top: 0;
  left: 539px;
  width: 35px;
}
.descuento,
.formaDePago,
.monto,
.mtodoDePago,
.pUnitario,
.recargo,
.recibo {
  position: absolute;
  top: 0.7px;
  left: 608px;
  font-weight: 600;
  display: inline-block;
  width: 70px;
  height: 12.1px;
}
.descuento,
.formaDePago,
.monto,
.mtodoDePago,
.recargo,
.recibo {
  left: 712px;
  width: 74px;
}
.formaDePago,
.monto,
.mtodoDePago,
.recargo,
.recibo {
  left: 820px;
  width: 56px;
}
.formaDePago,
.monto,
.mtodoDePago,
.recibo {
  left: 910px;
  width: 44px;
}
.formaDePago,
.mtodoDePago,
.recibo {
  left: 991px;
  width: 101px;
}
.mtodoDePago,
.recibo {
  left: 1126px;
  width: 111px;
}
.recibo {
  left: 1271px;
  width: 47px;
}
.menuTable {
  width: 1318px;
  position: relative;
  height: 15.7px;
}
.div,
.f2023,
.septiembre {
  position: absolute;
  top: 17px;
  left: 11px;
  display: inline-block;
  width: 45px;
}
.div,
.septiembre {
  left: 92px;
  width: 60px;
}
.septiembre {
  left: 210px;
  width: 74px;
}
.allccnio {
  left: 320px;
  color: var(--color-darkslategray-100);
  width: 69px;
}
.allAccessNio,
.allccnio,
.div1 {
  position: absolute;
  top: 17px;
  display: inline-block;
}
.allAccessNio {
  left: 421px;
  color: var(--color-darkslategray-100);
  width: 97px;
}
.div1 {
  left: 545px;
  width: 15px;
}
.div2,
.div3,
.div4,
.div5,
.enLinea,
.tarjetaDeCrdito {
  position: absolute;
  top: 17px;
  left: 611px;
  display: inline-block;
  width: 50px;
}
.div3,
.div4,
.div5,
.enLinea,
.tarjetaDeCrdito {
  left: 720px;
  width: 25.1px;
}
.div4,
.div5,
.enLinea,
.tarjetaDeCrdito {
  left: 824px;
  width: 45px;
}
.div5,
.enLinea,
.tarjetaDeCrdito {
  left: 913px;
  width: 49px;
}
.enLinea,
.tarjetaDeCrdito {
  top: 12px;
  left: 991px;
  width: 112px;
}
.enLinea {
  top: 17px;
  left: 1132px;
  width: 56px;
}
.f2023Parent {
  width: 1363px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-white1);
  height: 53px;
  flex-shrink: 0;
}
.totalDeCarrito {
  top: 18px;
  left: 727px;
  display: inline-block;
  width: 127px;
  height: 25px;
}
.b,
.totalChild,
.totalDeCarrito {
  position: absolute;
}
.b {
  top: 18px;
  left: 913px;
  display: inline-block;
  width: 89px;
  height: 25px;
}
.totalChild {
  top: 0;
  left: 0;
  max-height: 100%;
  width: 1355px;
}
.total {
  width: 1355px;
  position: relative;
  height: 43px;
  flex-shrink: 0;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-gray-200);
}
.frameParent,
.pagos {
  width: 1361px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameParent {
  height: 435px;
  overflow-y: auto;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  gap: 38px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-300);
  font-family: var(--heading-heading-3);
}
.pagos {
  position: absolute;
  top: 1416px;
  left: 433px;
  height: 465px;
  justify-content: flex-end;
  gap: var(--gap-sm);
  color: var(--color-darkslategray-100);
  font-family: var(--font-inter);
}
.estadoDeCuenta1 {
  width: 687.9px;
  position: relative;
  display: inline-block;
}
.header,
.title {
  width: 1355px;
  display: flex;
  flex-direction: column;
}
.title {
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-purple);
  height: 60px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 39.47560119628906px;
  box-sizing: border-box;
}
.header {
  position: absolute;
  top: 1289px;
  left: 436px;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
  height: 95px;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--heading-heading-3-size);
  color: var(--color-white1);
}
.b1,
.totalDeCarrito1 {
  width: 127px;
  position: relative;
  display: inline-block;
  height: 25px;
  flex-shrink: 0;
}
.b1 {
  width: 89px;
}
.total1 {
  position: absolute;
  top: 714px;
  left: 942px;
  width: 259px;
  height: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 43px;
}
.resultChild {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 1356px;
  height: 1px;
}
.resultItem {
  position: absolute;
  top: 53px;
  left: 0;
  max-height: 100%;
  width: 1355px;
}
.div6,
.div7,
.totales {
  position: absolute;
  display: inline-block;
  height: 25px;
}
.totales {
  top: 13px;
  left: 454px;
  font-size: var(--text-text-regular-2-size);
  width: 91px;
}
.div6,
.div7 {
  top: 15px;
  left: 614px;
  width: 82px;
}
.div7 {
  left: 719px;
  font-size: var(--font-size-smi);
  width: 37px;
}
.span {
  font-size: var(--font-size-xs);
}
.div8,
.div9 {
  position: absolute;
}
.div8 {
  top: 13px;
  left: 792px;
  display: inline-block;
  width: 37px;
  height: 25px;
  font-size: var(--font-size-smi);
}
.div9 {
  left: 890px;
  width: 69px;
}
.div10,
.div11,
.div9 {
  top: 15px;
  display: inline-block;
  height: 25px;
}
.div10 {
  position: absolute;
  left: 1115px;
  width: 72px;
}
.div11 {
  left: 984px;
  width: 43px;
}
.div11,
.div12,
.result {
  position: absolute;
}
.result {
  top: 645px;
  left: 6px;
  width: 1355px;
  height: 53px;
  font-size: var(--font-size-xs);
}
.div12 {
  top: 17px;
  left: 13px;
  display: inline-block;
  width: 4px;
}
.agosto,
.div13,
.div14,
.inscripcinPrimaria,
.insp {
  position: absolute;
  top: 17px;
  left: 40px;
  display: inline-block;
  width: 29.1px;
}
.agosto,
.div14,
.inscripcinPrimaria,
.insp {
  left: 102px;
  width: 43.1px;
}
.div14,
.inscripcinPrimaria,
.insp {
  left: 211px;
  width: 51.2px;
}
.inscripcinPrimaria,
.insp {
  left: 351px;
  color: var(--color-darkslategray-100);
  width: 26.1px;
}
.inscripcinPrimaria {
  left: 454px;
  width: 130px;
}
.div15,
.div16,
.div17,
.div18,
.div19,
.div20 {
  position: absolute;
  top: 17px;
  left: 615px;
  display: inline-block;
  width: 62.2px;
}
.div16,
.div17,
.div18,
.div19,
.div20 {
  left: 719px;
  width: 25.1px;
}
.div17,
.div18,
.div19,
.div20 {
  left: 792px;
}
.div18,
.div19,
.div20 {
  left: 896px;
}
.div19,
.div20 {
  left: 984px;
}
.div20 {
  left: 1124px;
  width: 54.2px;
}
.agregarAlCarrito,
.shopIcon {
  width: 15px;
  position: relative;
  height: 14px;
}
.agregarAlCarrito {
  width: 89px;
  display: inline-block;
  flex-shrink: 0;
}
.botonCarrito {
  position: absolute;
  top: 9px;
  left: 1204px;
  border-radius: var(--br-8xs);
  background-color: var(--color-purple);
  width: 130px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-4xs)
    var(--padding-2xs);
  box-sizing: border-box;
  gap: var(--gap-6xs);
  font-size: var(--font-size-3xs);
  color: var(--color-white1);
}
.container,
.frameDiv,
.group,
.parent,
.parent1,
.parent2,
.parent3,
.parent4 {
  position: absolute;
  top: 8px;
  left: 11px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white1);
  width: 1363px;
  height: 53px;
}
.container,
.frameDiv,
.group,
.parent1,
.parent2,
.parent3,
.parent4 {
  top: 82px;
}
.container,
.frameDiv,
.parent1,
.parent2,
.parent3,
.parent4 {
  top: 156px;
  left: 6px;
}
.frameDiv,
.parent1,
.parent2,
.parent3,
.parent4 {
  top: 230px;
}
.parent1,
.parent2,
.parent3,
.parent4 {
  top: 304px;
}
.parent2,
.parent3,
.parent4 {
  top: 378px;
}
.parent3,
.parent4 {
  top: 452px;
}
.parent4 {
  top: 526px;
}
.ciclo,
.div84,
.fVencimiento,
.frameGroup,
.mesCargo1 {
  position: absolute;
  left: 0;
  color: var(--color-gray-300);
}
.frameGroup {
  top: 28px;
  width: 1361px;
  height: 609px;
  overflow-y: auto;
  font-size: var(--font-size-xs);
}
.ciclo,
.div84,
.fVencimiento,
.mesCargo1 {
  top: 0;
  font-weight: 600;
}
.ciclo,
.fVencimiento,
.mesCargo1 {
  left: 28px;
}
.fVencimiento,
.mesCargo1 {
  left: 90px;
}
.fVencimiento {
  left: 199px;
}
.concepto1,
.descripcin1,
.monto1 {
  position: absolute;
  top: 0;
  left: 337px;
  font-weight: 600;
}
.descripcin1,
.monto1 {
  left: 444px;
}
.monto1 {
  left: 605px;
}
.beca,
.descuento1,
.montoPagado,
.recargo1,
.saldo {
  position: absolute;
  top: 1px;
  left: 709px;
  font-weight: 600;
  font-family: var(--font-inter);
}
.descuento1,
.montoPagado,
.recargo1,
.saldo {
  left: 779px;
}
.montoPagado,
.recargo1,
.saldo {
  left: 883px;
}
.montoPagado,
.saldo {
  left: 972px;
}
.saldo {
  left: 1110px;
}
.menuTable1,
.table {
  position: absolute;
  top: 0;
  left: 19px;
  width: 1149px;
  height: 21px;
  color: var(--color-darkslategray-100);
}
.table {
  top: 468px;
  left: 430px;
  width: 1361px;
  height: 739px;
  color: var(--color-gray-200);
}
.idAlumno,
.nivel,
.nombre {
  width: 82px;
  height: 51px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.nivel,
.nombre {
  width: 267px;
}
.nivel {
  width: 68px;
}
.modalidadCarrera {
  position: relative;
}
.modalidad {
  width: 153px;
  display: flex;
  align-items: flex-start;
}
.grado,
.grupo,
.modalidad {
  height: 51px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.grado {
  width: 51px;
  display: flex;
  align-items: flex-start;
}
.grupo {
  width: 50px;
}
.clabeInterbancaria,
.data,
.grupo {
  display: flex;
  align-items: flex-start;
}
.clabeInterbancaria {
  width: 165px;
  height: 52px;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--gap-9xs);
}
.data {
  position: absolute;
  top: 98px;
  left: 38px;
  width: 1166px;
  height: 55px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 55px;
}
.estadoDeCuenta2 {
  width: 697px;
  position: relative;
  display: inline-block;
}
.header1,
.title1 {
  position: absolute;
  width: 1373px;
}
.title1 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 0;
  background-color: var(--color-purple);
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--heading-heading-3-size);
  color: var(--color-white1);
}
.header1 {
  top: 157px;
  left: 430px;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
  height: 184px;
  font-size: var(--font-size-base);
}
.expenses {
  border-radius: var(--br-8xs);
  background-color: var(--color-purple);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
  color: var(--color-white1);
}
.ciclos,
.expenses,
.expenses2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.expenses2 {
  border-radius: var(--br-8xs);
  background-color: var(--color-gainsboro);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-xl);
}
.ciclos {
  position: absolute;
  top: 392px;
  left: 430px;
  width: 259px;
  height: 39px;
  align-items: center;
  gap: var(--gap-8xs);
  font-size: var(--font-size-base);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.estadoDeCuenta {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 2000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-text);
  font-family: var(--heading-heading-3);
}
