.panel-de-inicio {
  top: 58px;
  left: 419px;
}
.bg1,
.line-icon,
.panel-de-inicio {
  position: absolute;
}
.bg1 {
  top: 968px;
  left: 13px;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  background-color: var(--m3-sys-light-on-primary);
  width: 968px;
  height: 1007px;
  display: none;
}
.line-icon {
  top: 96px;
  left: 0;
  width: 884px;
  height: 1px;
  object-fit: contain;
}
.dots-icon,
.video-icon {
  position: absolute;
  height: 24.74%;
  width: 2.71%;
  top: 19.59%;
  right: 6.33%;
  bottom: 55.67%;
  left: 90.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.video-icon {
  height: 32.99%;
  width: 3.62%;
  top: 15.46%;
  right: 13.57%;
  bottom: 51.55%;
  left: 82.81%;
}
.hello-nabila {
  position: relative;
}
.can-i-see-your-history-lesson-wrapper,
.chat2 {
  background-color: var(--color-whitesmoke);
  height: 60px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.chat2 {
  width: 160px;
  border-radius: var(--br-xl);
  align-items: flex-end;
  justify-content: center;
  padding: 0 22.10821533203125px;
}
.can-i-see-your-history-lesson-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) var(--br-xl) 0;
  width: 416px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 24.8916015625px;
}
.pm {
  position: absolute;
  top: 76px;
  left: 8.7px;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-gray-3);
}
.chat3 {
  width: 416px;
  position: relative;
  height: 97px;
}
.chat1,
.chat5 {
  position: absolute;
  flex-direction: column;
}
.chat1 {
  top: 129px;
  left: 53px;
  width: 416px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.chat5 {
  top: 0;
  left: 178px;
  border-radius: var(--br-xl);
  background-color: var(--color-purple);
  width: 199px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 22px;
  box-sizing: border-box;
}
.im-not-finished {
  margin: 0;
}
.chat6 {
  top: 77px;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 var(--br-xl);
  background-color: var(--color-purple);
  width: 377px;
  height: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 14px 0;
  box-sizing: border-box;
}
.chat4,
.chat6,
.pm1 {
  position: absolute;
}
.pm1 {
  top: 175px;
  left: 319px;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-gray-3);
}
.chat4 {
  top: 328px;
  left: 447px;
  width: 377px;
  height: 196px;
  display: none;
  color: var(--m3-sys-light-on-primary);
}
.placeholder {
  width: 64px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
  height: 64px;
}
.cci-informacin-container {
  position: relative;
  font-weight: 500;
}
.online-child {
  position: absolute;
  height: 59.26%;
  width: 13.33%;
  top: 22.22%;
  right: 86.67%;
  bottom: 18.52%;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-green);
  display: none;
}
.enero-9-2024 {
  position: absolute;
  top: 0;
  left: 0;
}
.online {
  width: 120px;
  position: relative;
  height: 27px;
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--color-gray-3);
}
.name,
.profile {
  display: flex;
  justify-content: flex-start;
}
.name {
  width: 539px;
  height: 78px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.profile {
  position: absolute;
  top: 0;
  left: 53px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
  font-size: var(--font-size-mini);
}
.rectangle {
  position: absolute;
  height: 132.11%;
  width: 109.5%;
  top: 2.75%;
  right: -10.63%;
  bottom: -34.86%;
  left: 1.13%;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--m3-sys-light-on-primary);
  display: none;
}
.write-your-message {
  width: 200.3px;
  position: relative;
  display: inline-block;
}
.form {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-gray-3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 33.75902557373047px;
}
.send {
  position: relative;
  font-weight: 600;
}
.sent-icon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.attachment-icon,
.send-button {
  position: absolute;
  bottom: 11.25%;
}
.send-button {
  height: 75%;
  width: 17.3%;
  top: 13.75%;
  right: 3.49%;
  left: 79.21%;
  border-radius: var(--br-21xl);
  background-color: var(--color-purple);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) 19px;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--m3-sys-light-on-primary);
}
.attachment-icon {
  height: 50%;
  width: 5.32%;
  top: 38.75%;
  right: 30.78%;
  left: 63.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.line,
.type-form {
  position: absolute;
  top: 29px;
  left: 43px;
  width: 784px;
  height: 80px;
}
.line {
  height: 0.92%;
  width: 100.11%;
  top: -0.46%;
  right: -0.06%;
  bottom: 99.54%;
  left: -0.06%;
  border-top: 1px solid var(--color-gray-2);
  box-sizing: border-box;
}
.bg2,
.chat,
.chat-form {
  position: absolute;
  width: 884px;
}
.chat-form {
  top: 594px;
  left: 0;
  height: 109px;
  display: none;
  color: var(--color-gray-3);
}
.bg2,
.chat {
  top: 39px;
  left: 473px;
  height: 97px;
}
.bg2 {
  top: 50px;
  left: 32px;
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--m3-sys-light-on-primary);
  width: 507px;
  height: 1007px;
  display: none;
}
.btnviewmore,
.text {
  display: flex;
  box-sizing: border-box;
}
.btnviewmore {
  position: absolute;
  height: 8.04%;
  width: 99.77%;
  top: 91.96%;
  right: 0.23%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: rgba(77, 68, 181, 0.1);
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 174px;
  color: var(--color-purple);
}
.text {
  border-radius: 22px;
  height: 60px;
  flex-direction: row;
  align-items: center;
  padding: 23px var(--padding-13xl);
  gap: var(--gap-base);
}
.chat7,
.search-bar,
.text {
  justify-content: flex-start;
}
.search-bar {
  position: absolute;
  top: 68px;
  left: calc(50% - 222px);
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-gray-3);
  box-sizing: border-box;
  width: 443px;
  height: 60px;
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-13xl) var(--padding-11xs) 0;
}
.chat7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.groups {
  width: 67px;
  position: relative;
  font-weight: 600;
  display: none;
}
.frames {
  top: 71px;
  width: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.avisos2,
.frames,
.messages {
  position: absolute;
  left: 0;
}
.avisos2 {
  top: 0;
  font-size: var(--heading-heading-3-size);
  color: var(--color-text);
}
.messages {
  top: 18px;
  width: 444px;
  height: 759px;
  color: var(--color-gray-3);
}
.border {
  position: absolute;
  top: -0.5px;
  left: 472.5px;
  border-right: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 1px;
  height: 826px;
}
.avisos1 {
  width: 1357px;
  position: relative;
  height: 825px;
}
.avisos,
.bg3 {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--m3-sys-light-on-primary);
}
.avisos {
  top: 311px;
  left: 419px;
  width: 1389px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0.00048828125px;
  box-sizing: border-box;
  font-size: var(--text-text-semi-bold-1-size);
}
.bg3 {
  top: 0;
  left: 1389px;
  width: 83px;
  height: 1389px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.quizzes1,
.tasks-icon {
  position: relative;
  flex-shrink: 0;
}
.tasks-icon {
  width: 23px;
  height: 23px;
  overflow: hidden;
}
.quizzes1 {
  width: 97px;
  font-weight: 500;
  display: inline-block;
  height: 30px;
}
.quizzes {
  position: absolute;
  top: 26px;
  left: 496px;
  width: 134px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.check-double-icon,
.tareas1 {
  position: relative;
  flex-shrink: 0;
}
.check-double-icon {
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.tareas1 {
  width: 77px;
  font-weight: 500;
  display: inline-block;
  height: 30px;
}
.tareas {
  position: absolute;
  top: 26px;
  left: 294px;
  width: 113px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.newspaper-icon {
  width: 31px;
  position: relative;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
}
.avisos3,
.tabs {
  position: absolute;
}
.avisos3 {
  top: 26px;
  left: 82px;
  width: 122px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-text);
}
.tabs {
  top: 185px;
  left: 419px;
  width: 1389px;
  height: 83px;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
}
.inicio-v2 {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-heading-1-size);
  color: var(--color-text);
  font-family: var(--heading-heading-3);
}
