.placeholder {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84.62%;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
}
.admin,
.mayraZ {
  position: relative;
}
.mayraZ {
  font-weight: 600;
}
.admin {
  color: var(--color-gray-3);
}
.name {
  position: absolute;
  top: 7px;
  left: 242px;
  width: 64px;
  height: 46px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-9xs);
}
.contraseaIcon,
.disponibilidadIcon,
.inboxIcon {
  position: absolute;
  height: 100%;
  width: 15.38%;
  top: 0;
  right: 44.36%;
  bottom: 0;
  left: 40.26%;
  border-radius: var(--br-21xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.disponibilidadIcon,
.inboxIcon {
  right: 64.87%;
  left: 19.74%;
}
.inboxIcon {
  right: 84.62%;
  left: 0;
}
.sideMenu {
  position: absolute;
  top: 58px;
  left: 1418px;
  width: 390px;
  height: 60px;
}
.frameChild,
.i {
  position: relative;
}
.i {
  width: 13px;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.frameChild {
  width: 48px;
  border-radius: var(--br-base);
  background-color: var(--color-orange);
  height: 48px;
  margin-top: -41px;
}
.iParent {
  width: 48px;
  height: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.interschool {
  position: relative;
  font-size: var(--font-size-9xl);
}
.footer {
  position: absolute;
  top: 1085px;
  left: 60px;
  width: 236px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.homeIcon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  filter: var(--shadow);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.vectorIcon {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 49.58%;
  width: 87.78%;
  top: 11.68%;
  right: 0;
  bottom: 38.75%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--color-gray-2);
}
.e,
.escuelaBenitoJuarez {
  width: 20px;
  position: relative;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.escuelaBenitoJuarez {
  width: 227px;
  font-size: var(--font-size-xl);
  height: 33px;
}
.logo {
  position: absolute;
  top: 47px;
  left: 30px;
  width: 291px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.component1,
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
}
.sidebar {
  height: 100%;
  width: 19.91%;
  right: 80.09%;
  bottom: 0;
  background-color: var(--color-purple);
  font-size: var(--heading-heading-1-size);
  color: var(--color-white1);
}
.component1 {
  width: 1808px;
  height: 1182px;
}
.panelDeInicio {
  top: 58px;
  left: 419px;
  font-size: var(--heading-heading-1-size);
}
.bg,
.lineIcon,
.panelDeInicio {
  position: absolute;
}
.bg {
  top: 968px;
  left: 13px;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  background-color: var(--color-white1);
  width: 968px;
  height: 1007px;
  display: none;
}
.lineIcon {
  top: 96px;
  left: 0;
  width: 884px;
  height: 1px;
  object-fit: contain;
}
.dotsIcon,
.videoIcon {
  position: absolute;
  height: 24.74%;
  width: 2.71%;
  top: 19.59%;
  right: 6.33%;
  bottom: 55.67%;
  left: 90.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.videoIcon {
  height: 32.99%;
  width: 3.62%;
  top: 15.46%;
  right: 13.57%;
  bottom: 51.55%;
  left: 82.81%;
}
.helloNabila {
  position: relative;
}
.canISeeYourHistoryLessonWrapper,
.chat2 {
  background-color: var(--color-whitesmoke);
  height: 60px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.chat2 {
  width: 160px;
  border-radius: var(--br-xl);
  align-items: flex-end;
  justify-content: center;
  padding: 0 22.10821533203125px;
}
.canISeeYourHistoryLessonWrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) var(--br-xl) 0;
  width: 416px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 24.8916015625px;
}
.pm {
  position: absolute;
  top: 76px;
  left: 8.7px;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-gray-3);
}
.chat3 {
  width: 416px;
  position: relative;
  height: 97px;
}
.chat1,
.chat5 {
  position: absolute;
  flex-direction: column;
}
.chat1 {
  top: 129px;
  left: 53px;
  width: 416px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.chat5 {
  top: 0;
  left: 178px;
  border-radius: var(--br-xl);
  background-color: var(--color-purple);
  width: 199px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 22px;
  box-sizing: border-box;
}
.imNotFinished {
  margin: 0;
}
.chat6 {
  top: 77px;
  left: 0;
  border-radius: var(--br-xl) var(--br-xl) 0 var(--br-xl);
  background-color: var(--color-purple);
  width: 377px;
  height: 83px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 14px 0;
  box-sizing: border-box;
}
.chat4,
.chat6,
.pm1 {
  position: absolute;
}
.pm1 {
  top: 175px;
  left: 319px;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-gray-3);
}
.chat4 {
  top: 328px;
  left: 447px;
  width: 377px;
  height: 196px;
  display: none;
  color: var(--color-white1);
}
.placeholder1 {
  width: 64px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-2);
  height: 64px;
}
.onlineChild {
  position: absolute;
  height: 59.26%;
  width: 13.33%;
  top: 22.22%;
  right: 86.67%;
  bottom: 18.52%;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-green);
  display: none;
}
.enero92024 {
  position: absolute;
  top: 0;
  left: 0;
}
.online {
  width: 120px;
  position: relative;
  height: 27px;
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--color-gray-3);
}
.name1,
.profile {
  display: flex;
  justify-content: flex-start;
}
.name1 {
  width: 539px;
  height: 78px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.profile {
  position: absolute;
  top: 0;
  left: 53px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xl);
  font-size: var(--font-size-mini);
}
.rectangle {
  position: absolute;
  height: 132.11%;
  width: 109.5%;
  top: 2.75%;
  right: -10.63%;
  bottom: -34.86%;
  left: 1.13%;
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-white1);
  display: none;
}
.writeYourMessage {
  width: 200.3px;
  position: relative;
  display: inline-block;
}
.form {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-gray-3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 33.75902557373047px;
}
.sentIcon {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.attachmentIcon,
.sendButton {
  position: absolute;
  bottom: 11.25%;
}
.sendButton {
  height: 75%;
  width: 17.3%;
  top: 13.75%;
  right: 3.49%;
  left: 79.21%;
  border-radius: var(--br-21xl);
  background-color: var(--color-purple);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) 19px;
  box-sizing: border-box;
  gap: var(--gap-5xs);
  color: var(--color-white1);
}
.attachmentIcon {
  height: 50%;
  width: 5.32%;
  top: 38.75%;
  right: 30.78%;
  left: 63.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.line,
.typeForm {
  position: absolute;
  top: 29px;
  left: 43px;
  width: 784px;
  height: 80px;
}
.line {
  height: 0.92%;
  width: 100.11%;
  top: -0.46%;
  right: -0.06%;
  bottom: 99.54%;
  left: -0.06%;
  border-top: 1px solid var(--color-gray-2);
  box-sizing: border-box;
}
.bg1,
.chat,
.chatForm {
  position: absolute;
  width: 884px;
}
.chatForm {
  top: 594px;
  left: 0;
  height: 109px;
  display: none;
  color: var(--color-gray-3);
}
.bg1,
.chat {
  top: 39px;
  left: 473px;
  height: 97px;
}
.bg1 {
  top: 50px;
  left: 32px;
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  background-color: var(--color-white1);
  width: 507px;
  height: 1007px;
  display: none;
}
.btnviewmore {
  position: absolute;
  height: 8.04%;
  width: 99.77%;
  top: 91.96%;
  right: 0.23%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: rgba(77, 68, 181, 0.1);
  box-shadow: 0 20px 50px rgba(191, 21, 108, 0.05);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 174px;
  box-sizing: border-box;
  color: var(--color-purple);
}
.searchBar,
.text {
  box-sizing: border-box;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.text {
  border-radius: 22px;
  display: flex;
  padding: 23px var(--padding-13xl);
  gap: var(--gap-base);
}
.searchBar {
  top: 68px;
  left: calc(50% - 222px);
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-gray-3);
  width: 443px;
  display: none;
  padding: var(--padding-11xs) var(--padding-13xl) var(--padding-11xs) 0;
  color: var(--color-gray-3);
}
.line1,
.searchBar,
.text1 {
  position: absolute;
}
.line1 {
  top: 81.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 444px;
  height: 1px;
}
.text1 {
  top: 2px;
  left: 76px;
  width: 352px;
  height: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.placeholder2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-purple);
  width: 60px;
  height: 60px;
}
.hace2Das {
  position: absolute;
  top: 54px;
  left: 368px;
  color: var(--color-gray-3);
}
.notifChild {
  width: 24px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-orange);
  height: 24px;
}
.icon {
  width: 6.7px;
  position: relative;
  height: 10.2px;
  margin-top: -17px;
}
.notif {
  position: absolute;
  top: 34px;
  left: 419px;
  width: 24px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.div {
  width: 444px;
  position: relative;
  height: 82px;
}
.cciCircular {
  width: 352px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.text2 {
  position: absolute;
  top: 2px;
  left: 76px;
  width: 352px;
  height: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.hace3Dias {
  position: absolute;
  top: 54px;
  left: 367px;
  color: var(--color-gray-3);
}
.div3 {
  width: 443px;
  position: relative;
  height: 82px;
}
.haceUnMes {
  position: absolute;
  top: 54px;
  left: 357px;
  color: var(--color-gray-3);
}
.chat7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.groups {
  width: 67px;
  position: relative;
  font-size: var(--text-text-semi-bold-1-size);
  font-weight: 600;
  color: var(--color-gray-3);
  display: none;
}
.avisos2,
.frames {
  position: absolute;
  left: 0;
}
.frames {
  top: 71px;
  width: 444px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: var(--font-size-smi);
}
.avisos2 {
  top: 0;
  font-size: var(--heading-heading-3-size);
}
.border,
.messages {
  position: absolute;
  top: 18px;
  left: 0;
  width: 444px;
  height: 759px;
}
.border {
  top: -0.5px;
  left: 472.5px;
  border-right: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 1px;
  height: 826px;
}
.avisos1 {
  width: 1357px;
  position: relative;
  height: 825px;
}
.avisos,
.bg2 {
  position: absolute;
  border-radius: var(--br-xl);
  background-color: var(--color-white1);
}
.avisos {
  top: 311px;
  left: 419px;
  width: 1389px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0.00048828125px;
  box-sizing: border-box;
  font-size: var(--text-text-semi-bold-1-size);
}
.bg2 {
  top: 0;
  left: 1389px;
  width: 83px;
  height: 1389px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.quizzes1,
.tasksIcon {
  position: relative;
  flex-shrink: 0;
}
.tasksIcon {
  width: 23px;
  height: 23px;
  overflow: hidden;
}
.quizzes1 {
  width: 97px;
  font-weight: 500;
  display: inline-block;
  height: 30px;
}
.quizzes {
  position: absolute;
  top: 26px;
  left: 496px;
  width: 134px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.checkDoubleIcon,
.tareas1 {
  position: relative;
  flex-shrink: 0;
}
.checkDoubleIcon {
  width: 22px;
  height: 22px;
  overflow: hidden;
}
.tareas1 {
  width: 77px;
  font-weight: 500;
  display: inline-block;
  height: 30px;
}
.tareas {
  position: absolute;
  top: 26px;
  left: 294px;
  width: 113px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.newspaperIcon {
  width: 31px;
  position: relative;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
}
.avisos3,
.tabs {
  position: absolute;
}
.avisos3 {
  top: 26px;
  left: 82px;
  width: 122px;
  height: 31px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  color: var(--color-text);
}
.tabs {
  top: 185px;
  left: 419px;
  width: 1389px;
  height: 83px;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
}
.inicioV2 {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-text-regular-2-size);
  color: var(--color-text);
  font-family: var(--heading-heading-3);
}
