.imageIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 960px;
  height: 1182px;
  object-fit: cover;
}
.labelText {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.button,
.stateLayer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stateLayer {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-5xl);
}
.button {
  position: absolute;
  top: 356px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-purple);
  width: 545px;
  height: 56px;
  flex-direction: column;
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--color-white1);
}
.communicationMail {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.admin {
  position: relative;
}
.communicationMailParent,
.formChild {
  position: absolute;
  left: 0;
  border-radius: var(--br-8xs);
  width: 536px;
  height: 40px;
  overflow: hidden;
}
.communicationMailParent {
  top: 84px;
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-4xs);
  gap: 17px;
  cursor: pointer;
  color: var(--color-silver-100);
}
.formChild {
  top: 204px;
}
.contrasea,
.recordar,
.usuario {
  position: absolute;
  top: 52px;
  left: 0;
}
.contrasea,
.recordar {
  top: 172px;
}
.recordar {
  top: 252px;
  left: 31px;
  color: #434;
}
.formItem {
  top: 255.5px;
  left: -0.5px;
  border: 1px solid #ab91ff;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  overflow: hidden;
}
.form,
.formItem,
.login1 {
  position: absolute;
}
.login1 {
  top: 0;
  left: 0;
  font-size: 32px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  color: var(--color-gray-200);
}
.form {
  top: 534px;
  left: 1161px;
  width: 545px;
  height: 412px;
}
.bienvenidoAlPanel {
  position: absolute;
  top: 168px;
  left: 0;
}
.interschoolLogoAzul1Icon {
  position: absolute;
  top: 0;
  left: 194px;
  width: 149px;
  height: 123px;
  overflow: hidden;
}
.header {
  position: absolute;
  top: 196px;
  left: 1176px;
  width: 513px;
  height: 204px;
  text-align: left;
  font-size: var(--heading-heading-3-size);
  color: var(--color-silver-100);
}
.login {
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  height: 1182px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
  font-family: var(--heading-heading-3);
}
