.group-child6,
.materia-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--m3-sys-light-on-primary);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 711px;
  height: 704px;
}
.group-child6 {
  width: 669px;
  height: 55px;
}
.div9 {
  position: absolute;
  top: 18px;
  left: 28px;
}
.ba1a,
.bmat1,
.matemticas-1 {
  position: absolute;
  top: 18px;
  left: 137px;
}
.ba1a,
.matemticas-1 {
  left: 257px;
}
.ba1a {
  left: 439px;
}
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  position: absolute;
  top: 8px;
  left: 11px;
  width: 680px;
  height: 55px;
}
.rectangle-parent7,
.rectangle-parent8 {
  top: 84px;
}
.rectangle-parent8 {
  top: 160px;
}
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent9 {
  position: absolute;
  top: 236px;
  left: 11px;
  width: 680px;
  height: 55px;
}
.rectangle-parent10,
.rectangle-parent11 {
  top: 312px;
}
.rectangle-parent11 {
  top: 388px;
}
.group-container,
.rectangle-parent12,
.rectangle-parent13 {
  position: absolute;
  top: 464px;
  left: 11px;
  width: 680px;
  height: 55px;
}
.group-container,
.rectangle-parent13 {
  top: 540px;
}
.group-container {
  top: 21px;
  left: 0;
  width: 702px;
  height: 582px;
  overflow-y: auto;
  color: var(--color-gray-200);
  font-family: var(--heading-heading-3);
}
.ciclo1,
.materia1 {
  position: absolute;
  top: 0;
  left: 40px;
}
.materia1 {
  left: 148px;
}
.descripcin1,
.frame-data1,
.grupo {
  position: absolute;
  top: 0;
  left: 265px;
}
.frame-data1,
.grupo {
  left: 446px;
}
.frame-data1 {
  top: 78px;
  left: 9px;
  width: 702px;
  height: 603px;
}
.materias {
  position: absolute;
  top: 19px;
  left: 25px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  font-family: var(--heading-heading-3);
  color: var(--color-text);
}
.materia {
  width: 100%;
  position: relative;
  height: 704px;
  display: none;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
  font-family: var(--font-inter);
}
