.line1 {
  position: absolute;
  top: 81.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  width: 444px;
  height: 1px;
}
.cci-informacin1 {
  width: 352px;
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.deyanira-andrade-coeto {
  position: relative;
  color: var(--color-gray-3);
}
.text1 {
  position: absolute;
  top: 2px;
  left: 76px;
  width: 352px;
  height: 67px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.placeholder2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  background-color: var(--color-purple);
  width: 60px;
  height: 60px;
}
.hace-2-das {
  position: absolute;
  top: 54px;
  left: 368px;
  color: var(--color-gray-3);
}
.notif-child {
  width: 24px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-orange);
  height: 24px;
}
.icon {
  width: 6.7px;
  position: relative;
  height: 10.2px;
  margin-top: -17px;
}
.notif {
  position: absolute;
  top: 34px;
  left: 419px;
  width: 24px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.div160 {
  width: 444px;
  position: relative;
  height: 82px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-text);
  font-family: var(--heading-heading-3);
}
