.frame-child,
.i {
  position: relative;
}
.i {
  width: 13px;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.frame-child {
  width: 48px;
  border-radius: var(--br-base);
  background-color: var(--color-orange);
  height: 48px;
  margin-top: -41px;
}
.i-parent {
  width: 48px;
  height: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.interschool {
  position: relative;
  font-size: var(--font-size-9xl);
}
.footer {
  position: absolute;
  top: 1085px;
  left: 60px;
  width: 236px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.home-icon {
  width: 30px;
  position: relative;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashboard {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  filter: var(--shadow);
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.email {
  position: relative;
  font-weight: 500;
}
.students {
  width: 299px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  cursor: pointer;
}
.vector-icon1 {
  width: 21px;
  position: relative;
  height: 28px;
}
.food,
.list {
  display: flex;
  justify-content: flex-start;
}
.food {
  width: 316px;
  border-radius: var(--br-21xl) 0 0 var(--br-21xl);
  background-color: var(--color-background);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  cursor: pointer;
  color: var(--color-purple);
}
.list {
  position: absolute;
  height: 49.58%;
  width: 87.78%;
  top: 11.68%;
  right: 0;
  bottom: 38.75%;
  left: 12.22%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--text-text-semi-bold-1-size);
  color: var(--color-gray-2);
}
.e,
.escuela-benito-juarez {
  width: 20px;
  position: relative;
  display: inline-block;
  height: 44px;
  flex-shrink: 0;
}
.escuela-benito-juarez {
  width: 227px;
  font-size: var(--font-size-xl);
  height: 33px;
}
.logo,
.sidebar {
  position: absolute;
}
.logo {
  top: 47px;
  left: 30px;
  width: 291px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.sidebar {
  height: 100%;
  width: 19.91%;
  top: 0;
  right: 80.09%;
  bottom: 0;
  left: 0;
  background-color: var(--color-purple);
  text-align: left;
  font-size: var(--heading-heading-1-size);
  color: var(--m3-sys-light-on-primary);
  font-family: var(--heading-heading-3);
}
